

/*LOS QUE VOY USANDO NUEVOS*/
.banner-agencia {
	max-height: 320px;
	width: 100%;
}

.promedio {
	color: #3C1010;
	text-align: center;
	bottom: -5px;
	padding-top: 5%;
}

.estrella {
	font-size: 55px;
	line-height: 1;
	margin-bottom: 0px;
	color: #ffd700b3;

}

.valor_rating {
	font-size: 50px;
	line-height: 1;
	margin-bottom: 0px;
	color: #ffd700b3;
}


#datos {
	padding-top: 0px;
	color: black;
	padding-left: 14px;
	margin-top: 5%;
	border-radius: 4px;
}

.listado_chicas {
	float: left;
	margin: 6px;
	border: 1px solid;
	padding: 10px;
	border-radius: 15px;
}


.preview_agencia{
	
	text-align: center;
	font-size: 30px;

}

.contamos{
	color: black;
	text-align: center;
	font-size: 30px;

}

.xx {
	/* font-size: 13px; */
	/* color: #ED7A7A; */
	border-bottom: 1px solid #A60000;
	background: #7B0000;
	background: linear-gradient(to bottom, #6C030399, #7B000099);
	/* margin-right: 20px; */
	margin-left: 20px;
	/* min-height: 320px; */
}



li {
    display: block;
}

.margen_vista_nina {
    margin-top: 12px;
    padding: 0px;
    margin-left: -29px;
}

#mail{
    color: black;
    padding-left: 40px;
}


form{ 
    width:100%; 
    margin:0 auto; 
    padding:10px; 
}

form p, form input[type = "submit"]{
    text-align:center; 
    font-size:20px;
}

input[type = "radio"]{ 
    display:none;
}

label{
    color:black;
}




/*FIN DE LOS QUE VOY USANDO NUEVOS*/



label:hover,
label:hover ~ label{color:orange;}
input[type = "radio"]:checked ~ label{color:orange;}



.vista_ninas {
	margin-top: 10px;
	padding: 0px;
	margin-left: -29px;
}

 






