.form-control:focus {
	border-color: #dd2b2b;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(252, 9, 9, 0.93),0 0 8px rgb(255, 0, 0);
}