tr, td {
	border: 1px solid rgba(48, 79, 185, 0.23);
	padding-top: 8px;
	padding-bottom: 6px;
	vertical-align: bottom;
	padding-left: 5px;
	//transition: all cubic-bezier(.6,.04,.98,.34) 0.5s;
}
table {
	/*border: 1px solid rgb(48, 79, 185);*/
	width: 100%;
}

table tr:first-child, table tr:last-child {
	border-bottom: 2px solid #162AC0;
}

tr:hover {
	background-color: rgba(192, 200, 228, 0.17);
	padding-bottom: 7px;
	padding-top: 9px;
	color: #141c57;
}

.pag {
	background-color: rgba(115, 126, 243, 0.81);
	width: 28px;
	font-size: 12px;
	height: 28px;
	border-radius: 5px;
	box-shadow: 0px 0px 1px 1px rgba(18, 24, 156, 0.6);
	font-style: initial;
	color: blanchedalmond;
}

#paginador {
	text-align: center;
}
.nohaymensaje {
	/*border: 1px solid;*/
	height: 300px;
	text-align: center;
	vertical-align: bottom;
	padding: 10%;
	font-size: 23px;
	font-family: unset;
	font-style: italic;
}

article:nth-child(2) > font:nth-child(3) {
	height: 300px;
	text-align: center;
	vertical-align: bottom;
	font-size: 14px;
	font-family: unset;
	font-style: initial;
}

#botonera {
	margin-top: 25px;
	/* text-align: center; */
	width: 80%;
	float: left;
}
.btn-atras {
	float: right;
	margin-top: 21px;
	margin-right: 22px;
}
.glyphicon {
	
	cursor: pointer;
	margin-left: 9px;
}
.acction {
	width: 120px;
	font-size: 17px;
	text-align: center;
	border-left: 1px solid rgba(0, 12, 255, 0.2);
}
tr > td > .glyphicon:hover {
	color: #a22626;
}
#buscar > form:nth-child(1) > input:nth-child(2){


	width: 182px;
}

#buscar {
	text-align: center;
	border-bottom: 1px solid rgba(49, 55, 168, 0.15);
	margin-bottom: 12px;
}
#ventana {
	background-color: #d9d9d9;
	width: 33%;
	position: fixed;
	margin-left: 33%;
	/* height: 357px; */
	border-radius: 5px;
	/* border-color: #2258f5; */
	border: 1px solid rgb(128, 128, 128);
	padding: 10px;
	box-shadow: 6px 7px 10px -2px rgb(217, 217, 217);
}
#ventana_capa {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.55);
	top: 0px;
	padding-top: 77px;
}

#agregar_factura_area {
	font-size: 20px;
	float: right;
	margin-right: 33px;
	vertical-align: bottom;
	margin-top: 6px;
	border-left: 1px solid !important;
}
#agregar_factura_area:hover {
	color: rgb(22, 36, 116);
}#no_hay_facturas {
	font-size: 13px;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 36px;
}