.header-content {
	margin-top: 50px;
	padding-top: 36px;
	font-size: 20px;
	font-style: italic;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	
}
.enlace-menu {
	color: #FF8686 !important;
	font-size: 17px;
	margin-top: 6px;
	margin-right: 20px;
}

.enlace-menu:hover{
	color: #000 !important;
	font-size: 17px;
	margin-top: 8px;
	margin-right: 20px;
	background-color: #fb878799;

}
.container-fluid.fondo {
	margin-top: 40px;
}
.header-titulos {
font-size: 28px;
font-style: oblique;
font-family: initial;
margin-top: 10px;
text-align: center;
border-radius: 5px;
margin-bottom: 10px;
}
#pie{

font-size: 12px;
padding-top: 80px;
text-align: center;
border-color: #FFF;
}
.fondo {
	min-height: 800px;
	padding-bottom: 15px;
}
.col-xs-10.col-sm-10.col-md-10.col-lg-10.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1 {
	border: 1px solid;
	min-height: 580px;
	border-radius: 5px;
	border-color: #2b68c8;
	margin-top: 5px;
	
	
}

.texto {
	margin-left: 30px;
	margin-top: -29px;
	text-shadow: 2px 2px #000;
	font-family: verdana;
	color: #FF8686 !important;

}

.logox {
	height: 45px;
	width: 60px;
	margin-top: -11px;
	margin-left: -17px;
}

.logo_centro {
	height: auto;
	width: 20%;
	margin-top: 25px;
}

.xxx {
	background: linear-gradient(to bottom, #500000, #A60000) !important;
	padding-bottom: 0px;
	margin: 0px 0 0px !important;
	border-bottom: 0px !important;
	padding-top: 1px !important;
}

.title1{
	color: #f0db29;
}

.text-color{
	color: white;
}

.page-header {
	text-align: center;
}