.navbar-default {
	/* background-color: #DE0000; */
	background: linear-gradient(to bottom, #DA0000, #630000);
	border-bottom: solid 1px #9B0303;
	box-sizing: border-box;
	height: 60px !important;
	transition: opacity .3s ease;
	opacity: 0.9;
}

body{

	background-color: #500000 !important;
}

#mainNav:hover {
	background: linear-gradient(to bottom, #DA0000, #A60000);
	opacity: 1;
}

.navbar-default .navbar-nav > li > a {
color: #F0DB29; 
}
.navbar-default .navbar-nav > li > a {
    color: #F0DB29;
    padding-top: 22px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	color: #F0DB29;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #C0B023;
    background: #b50000e6;
}

.header-content {

background-color: #D90000; 
min-height: 200px;
color: #FFFFFF; 
border-color: #FFFFFF; 
}
.header-titulos {
color: #FFFFFF; 
border-color: #FFFFFF; 





background-color: #B00000;


}
#pie{
background-color: #940000;


color: #D1D1D1;



border-color: #D1D1D1;
}
.container-fluid.fondo {
	background-color: #A60000;
}
/* 
ojo este estilo no se debe tocar 
ya que es parte del framework 
y cualquira modificacion
podria afectar el buen 
funcionamiento del mismo
para agregar estilos a las reglas aqui expresadas puede hacerlo en "estilos_varios.css"
 */


 .pietop{

 	height: 32px; */
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 5px 0 0;
    background: #A60000;
    background: linear-gradient(to bottom, #A60000, rgba(80,0,0,0.6));
    box-sizing: border-box;
    box-shadow: 0 -1px 10px 2px rgba(80,0,0,0.8);
    border-top: solid 1px #C00000;
    border-bottom: solid 1px #930000;
 }

 .piebody{

 	height: 77px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding: 12px 0 0;
    position: relative;
    color: #ED7A7A;
    border-bottom: 1px solid #A60000;
    background: #7B0000;
    background: linear-gradient(to bottom, #500000, #7B0000);
    z-index: -1;
 }

 .piebottom{

 	font: 10px Arial;
    width: 100%;
    height: 23px;
    padding: 10px 0 0;
    color: #930000;
    background: #500000;
 }


.contenedor-img {
float: left;
overflow: hidden;
position: relative;
text-align: center;
cursor: default;
}
.contenedor-img .mascara,.contenedor-img .contenido {
width: 100%;
height: 100%;
position: absolute;
overflow: hidden;
top: 0;
left: 0
}
.contenedor-img img {
display: block;
position: relative;

}
.contenedor-img h2 {
text-transform: uppercase;
color: #ED7A7A;
font-weight: 900;
text-align: center;
position: relative;
font-size: 16px;
padding: 9px;
background: rgba(77, 0, 0, 0.9);
margin: 20px 0 0 0
}
.contenedor-img p {
font-size: 12px;
position: relative;
color: #000;
padding: 10px 20px 10px;
text-align: center
}
.contenedor-img a.link {
text-decoration: none;
padding: 10px 24px;
background: rgba(255, 255, 255, 0.5);
color: #000;
box-shadow: 0 0 1px #000
}
.contenedor-img a.link:hover {
box-shadow: 0 0 5px #000
}


.chicas img {
transition: all 0.2s linear;
}
.chicas .mascara {
opacity: 0;
background-color: rgba(173,31,31, 0.7);
transition: all 0.3s ease-in-out;
}
.chicas h2 {
transform: translateX(-200px);/*Desplazamos a la izquierda*/
opacity: 0;
transition: all 0.7s ease-in-out;
}
.chicas p {
transform: translateX(200px);/*Desplazamos a la derecha*/
opacity: 0;
transition: all 0.4s linear;
}
.chicas a.link{
opacity: 0;
transition: all 0.4s ease-in-out;
transform: translateY(100px)/*Desplazamos para abajo*/
}
.chicas:hover img {
transform: scale(1.1);/*Damos un ligero zoom a la imagen*/
}
.chicas:hover .mascara {
opacity: 1;
}
.chicas:hover h2,
.chicas:hover p,
.chicas:hover a.link {
opacity: 1;
transform: translateX(0px);/*Regresamos a las posiciones originales*/
}
.chicas:hover p {
transition-delay: 0.1s;
}
.chicas:hover a.link {
transition-delay: 0.2s; /*Aplicamos un pequeño retardo para que se muestre al final*/
transform: translateY(0px);
}