

.dorado{
    text-decoration-color: #EEE8AA;
    color: #EEE8AA;
}

.articulo1{
    height: 133px;
    width: 180px;
    margin-bottom: -140px;
}

.articulo2{
    height: 133px;
    width: 180px;
    margin-left: 210px;
    margin-top: 5px;
}
.tex-col {
    text-align: center;
    border-bottom: 1px solid #eee889;
}
.perfil {
    color: antiquewhite;
    padding: 23px;
    border-left: 1px solid #eee8aa4d;
    min-height: 300px;
}
.prviuw {
    float: left;
    margin: 3px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 3px;
}
#list {
    color: white;
    text-align: center;
    font-style: italic;
    margin-bottom: 15px;
    border-top: 1px solid #fff3;
}
#fotoG{

    min-width: 100%;
}